{% extends 'base.html' %}

{% block main %}
    <main>
        <section class="page-section-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <section class="page-section">
                            <div>
                                <h1 class="page-title">Out Tailored Physiotherapy Treatments Offer: </h1>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section two - upper part including the 3 images -->
        <section class="muscolo-page-section-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <ul>
                            <li>Joint mobilization</li>
                            <li>Soft tissue massage and release techniques</li>
                            <li>Advanced electrotherapy modalities like ultrasound, interferential, TENS, and LASER.
                            </li>
                            <li>Dry needling</li>
                            <li>Hot & cold therapy</li>
                            <li>Clinical Pilates</li>
                            <li>Ergonomic postural advice</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}